h1
{
   text-align : center; 
   font-family : Helvetica, sans-serif; 
}

p, li
{
    font-family : Helvetica, sans-serif;
    font-size: 18px;
    text-decoration : none; 
}

span
{
    font-weight : bold;
    text-decoration : underline;
    font-size : 20px;
    font-family : Helvetica, sans-serif;
}

#gameDescription, div ul
{
    text-align : center;
    font-family : Helvetica, sans-serif;
    font-size: 18px;
    text-decoration : none;
    list-style: none;
}

#italic
{
    font-style: italic;
}

#holder
{
    display : block;
    margin-left : auto;
    margin-right : auto;
    max-width : 95%;
    max-height : 95%;
    position : relative;
}

body
{
    margin-left : 50px;
    margin-right : 50px;
    background-color : rgb(14, 206, 14);
}


.links
{
    position : relative;
    text-align : center;
   
}

a button
{
    text-decoration : none;
    font-family: Helvetica, sans-serif;
    font-size : 20px; 
    color : white;
    
}


button
{
    cursor : pointer;
    appearance: none;
    border-radius : 4px;
    padding : 10px 30px;
    background-color : lightgreen;
    border : 1px dodgerblue;
    

}

button:hover
{
    background-color : orange;
}

#bg-alt
{
    display : block;
    margin-left : auto;
    margin-right : auto;
    max-width : 18%;
    max-height : 18%;
    position : relative;
}

