h1
{
   text-align : center;  
}

span
{
    font-weight : bold;
    text-decoration : underline;
    font-size : 20px;
}

body
{
    margin-left : 50px;
    margin-right : 50px;
}

.bigger
{
    font-size : 25px;
}

