
/*edits the furthest back layer of the game*/
div#YoshiBG_furthestBack
{
    position : absolute;
    width : 10000px;
    height : 540px;
    margin : auto;
    background-image: url(../img/backlayer_sprite_1.png);
    z-index : -4;
}

/*edits the back layer of the game*/
div#YoshiBG_back
{
    position : absolute;
    width : 10000px;
    height : 540px;
    margin : auto;
    background-image: url(../img/frontlayer_sprite_1.png);
    z-index : -3;
}

/*edits the mid layer of the game*/
div#YoshiBG_mid
{
    position : absolute;
    width : 10000px;
    height : 540px;
    margin : auto;
    background-image: url(../img/middlelayer_sprite_1.png);
    z-index : -2;
}

/*edits the front layer of the game*/
div#YoshiBG_frontmost
{
    position : absolute;
    width : 10000px;
    height : 540px;
    margin : auto;
    background-image: url(../img/Background2.png);
    z-index : -1;
}

/*edits the yoshi layer of the game*/
div#Yoshi {
    position: absolute;
    top: 320px;
    left: 150px;
    margin:auto;
    z-index: 1;
}


/*prevents scrolling*/
#body {
    overflow: hidden;
}

/*edits the coin in the game*/
#coin {
    position: absolute;
    top: 320px;
    left: 150px;
    margin:auto;
    z-index: 99;
}